<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">  
  <test name="Test01">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="testClassOrange.TC01_LoginPage"/>
    </classes>
  </test> <!-- Test -->
   <test name="Test02">   
    <parameter name="browser" value="firefox"/>
     <classes>
      <class name="testClassOrange.TC02_EmployeeList"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test03">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="testClassOrange.TC03_AssignLeave"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test04">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="testClassOrange.TC04_LeaveList"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
