<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRC">
  <test name="TC01_LoginPage">
<!--<parameter name="browser" value="firefox" />-->
  <classes>
  <class name="testCasesOrange.TC01_LoginPage" />
  </classes>
  </test> <!-- TC01_LoginPage -->
</suite> <!-- Suite -->
